body,html{
  background-color: #263238;
  

    color: #aaa;
filter: brightness(50%);

}
.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
	
}