
body{	background:fff;
    font: 12px Arial, sans-serif;
    color: #666;
    -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
    background: url("none") no-repeat center/cover;
		  background-size；cover;
		  background-attachment: fixed;

}
.foot {
    position: absolute;
    bottom: 10px;
    z-index: 1000;
    text-align: center;
    width: 100%;
    color: #999;
    height: 20px;
    line-height: 20px;
    font-size: 12px;
	
}